:root {
  --w-width: 95vw;
  --w-height: 95vh;
}

@media (min-width: 640px) {
  :root {
      --w-width: 70vw;
      --w-height: 70vh;
  }
}

* {
  font-family: monospace, sans-serif;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-top: 65px;
}

.pok-info {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  min-width: 50vw;
  min-height: 50vh;
  margin: 20px;
}

.mgt-10 {
  margin: 10px;
}

.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
